body{
    overflow: hidden;
    background-color: rgb(236, 236, 236);
}

/*Identifiers*/
#container{
    text-align: center;
    height: 100vh;
}

#left-lateral{
    background-color: whitesmoke;
    height: 100%;
    width: 20%;
    overflow-y: scroll;
    display: inline-block;
    
}

#right-lateral{
    height: 100%;
    width: 79%;
    background-color: whitesmoke;
    overflow-y: scroll;
    display: inline-block;
}

#select-view-option{
    list-style-type: none;
    padding-left: 5%;
}

.view-option{
    padding-top:10px;
}